Source: scriptaculous
Section: web
Priority: optional
Maintainer: Frank Habermann <lordlamer@lordlamer.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://script.aculo.us/

Package: libjs-scriptaculous
Architecture: all
Depends: ${misc:Depends}, libjs-prototype
Replaces: scriptaculous
Description: JavaScript library for dynamic web applications
 script.aculo.us is a JavaScript library providing dynamic visual effects and
 user interface elements via the Document Object Model.
 .
 script.aculo.us extends the Prototype Javascript Framework by adding visual
 effects, user interface controls, and utilities. It is most notably included
 with Ruby on Rails, but also provided separately to work with other web
 application frameworks and scripting languages.
